{% extends 'base.html.twig' %}

{% block title %}
  Votre panier
{% endblock %}

{% block body %}
  {% if lignePaniers is empty %}
    {% set panierVide = true %}
  {% else %}
    {% set panierVide = false %}
  {% endif %}

  {% if panierVide %}
    <h1>
      Votre panier est vide !
    </h1>
  {% else %}
    <h1>
      Contenu du panier
    </h1>
    {% include 'shared/_panierLignes.html.twig' %}
    <a href="{{ path('commande_addresse_livraison') }}" class="btn btn-info">
      Passer la commande
    </a>
  {% endif %}
{% endblock %}
