{% extends 'base.html.twig' %}

{% block title %}
  Catégorie : {{ category.name }}
{% endblock %}

{% block body %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ path('homepageIndex') }}">Accueil</a>
    </li>
    <li class="breadcrumb-item active">{{ category.name }}</li>
  </ol>

  <div class="row">
    {% for product in category.products %}
      {% include 'shared/_cardProduct.html.twig' with {
        col: 4
      } %}
    {% endfor %}
  </div>
{% endblock %}
