{% extends 'base.html.twig' %}

{% block title %}
  Modifier une catégorie
{% endblock %}

{% block body %}
  <h1>
    Modifier la catégorie {{ category.name }}
  </h1>
  {% include 'shared/_categoryForm.html.twig' with {
    buttonSubmitColor: 'warning',
    buttonSubmitValue: 'Modifier une catégorie'
  } %}
{% endblock %}
