{% extends 'base.html.twig' %}

{% block title %}
  Validation commande
{% endblock %}

{% block body %}
  <h1>
    Validation de la commande
  </h1>

  {{
    form_start(
      formView,
      {
        action: path('commande_payer')
      }
    )
  }}
  <fieldset>
    <legend>
      Adresse de livraison
    </legend>
    {{ form_widget(formView) }}
    {{ form_errors(formView) }}
    <button type="submit" class="mt-5 btn btn-success">
      Valider la commande et payer
    </button>
  </fieldset>
  {{ form_end(formView) }}
{% endblock %}
