{% extends 'base.html.twig' %}

{% block title %}
  Création d'un produit
{% endblock %}

{% block body %}
  <h1>
    Nouveau produit
  </h1>
  {% include 'shared/_productForm.html.twig' with {
    ButtonSubmitColor: 'primary',
    ButtonSubmitValue: 'Ajouter un produit'
  } %}
{% endblock %}
