{% extends 'base.html.twig' %}

{% block title %}
  Edition de {{ product.name }}
{% endblock %}

{% block body %}
  <h1>
    Editer le produit
  </h1>
  {% include 'shared/_productForm.html.twig' with {
    msgButtonSubmitColor: 'warning',
    msgButtonSubmitValue: 'Modifier le produit'
  } %}
{% endblock %}
