<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="https://bootswatch.com/5/slate/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
        {% include "shared/_navbar.html.twig" %}
		<div class="container pt-5">
			{% block body %}{% endblock %}
	    </div>
    </body>
</html>
