<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salut !</title>
</head>
<body>
    <h1>Hello {{prenom}} !</h1>
    <h1>Vous avez {{age}} !</h1>
    {% if age >= 18 %}
        Vous êtes un adulte.
    {% else %}
        Vous êtes mineur.
    {% endif %}

    <ul>
    {% for i in 1..10 %}
        <li>{{i}}</li>
    {% endfor %}
    </ul>

    <ul>
    {% for prenom in prenoms %}
        <li>{{prenom | upper}}</li>
    {% endfor %}
    </ul>
</body>
</html>