{% extends "base.html.twig" %}
{% block body %}
<h1>Hello {{prenom}} !</h1>

{% include "_formateur.html.twig" with {"formateur" : formateur1} %}
{% include "_formateur.html.twig" with {"formateur" : formateur2} %}
{% endblock %}

